@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  top: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  background-color: white;
  z-index: 100;
  position: fixed;
  width: 80%;
  border-radius: 20px;
  /* box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.3); */
}
.container .spot {
  height: 100%;
  margin: 0;
  background-color: black;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.fitness {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fitness .heading {
  display: flex;
  margin-left: 28px;
  align-items: center;
  height: 67px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.heading img {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.container .fitness ul {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.fitness li {
  margin: 0px 12px 0px 12px;
  color: white;
  cursor: pointer;
  padding: 6px;
  font-size: 16px;
  font-weight: 500;
}
.fitness li:hover {
  background-color: purple;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.fitness .search-bar {
  position: relative;
  align-items: center;
  margin: 15px;
}

.fitness .search-bar input {
  position: relative;
  width: 190px;
  height: 35px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 10px;
  background-color: #ecf0f1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.position {
  position: relative;
  left: -39px;
  top: 4px;
  font-size: 20px;
  font-weight: 500;
  font-style: none;
}

#search {
  padding: 7px 12px;
}

::placeholder {
  font-size: 16px;
  margin-right: -10px;
}

.contain {
  height: 90vh;
  width: 80vw;
  overflow: hidden;
}

img {
  width: 95%;
  height: 90%;
  object-fit: cover;
  margin: 20px 30px 30px 30px;
  border-radius: 50px;
  box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.5);
}

.img::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
}

.container .login {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  outline: 4px;
}

.container .login .login-up {
  padding: 3px 30px 3px 30px;
  color: white;
  margin-right: 3px;
  outline: solid white 2px;
  border-radius: 20px;
  text-align: center;
}

.container .login .sign-up {
  padding: 4px 30px 4px 30px;
  margin-left: 3px;
  background-color: white;
  border-radius: 20px;
  color: grey;
}

.container .icons {
  position: absolute;
  top: 88%;
  right: 39%;
  align-items: center;
  transform: translate(-50%, -50%);
}

main .icons i {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
  outline: solid white 2px;
  padding: 8px 9px 8px 9px;
  margin-left: 5px;
}

.icons .facebook:hover {
  background-color: #4267b2;
  transition: 0.5s ease-out;
}
.icons .instagram:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transition: 0.5s ease-out;
}
.icons .twitter:hover {
  background-color: #13b0db;
  transition: 0.5s ease-out;
}

.container .word-one {
  position: absolute;
  color: white;
  font-size: 52px;
  font-weight: 500;
  top: 50%;
  right: 6%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.container .word-two {
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: 400;
  top: 58%;
  right: 20%;
  transform: translate(-50%, -50%);
}
.container .join {
  position: absolute;
  color: white;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  top: 65%;
  right: 42%;
  border-radius: 20px;
  padding: 6px 15px 6px 15px;
  outline: solid white 2px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.container .word-one .fit {
  color: red;
}

.container .join:hover {
  background-color: grey;
  transition: 0.5s ease-out;
}

a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 37px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
